solutions/SyncCalendar/Workflows/SynchronizeCalendarsv2-43DAAD23-5A66-EB11-A812-000D3A8973A2.json
{"properties":{"connectionReferences":{"shared_office365_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"lcn_Office365OutlookTarget"},"api":{"name":"shared_office365"}},"shared_teams_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"new_sharedteams_e20fa"},"api":{"name":"shared_teams"}},"shared_office365_2":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"lcn_Office365OutlookSource"},"api":{"name":"shared_office365"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"SyncCalendar-SourceEmail":{"defaultValue":"loic.cimon@capgemini.com","type":"String","metadata":{"schemaName":"lcn_SyncCalendarSourceEmail"}},"SyncCalendar-TargetEmail":{"defaultValue":"loic.cimon@effem.com","type":"String","metadata":{"schemaName":"lcn_SyncCalendarTargetEmail"}},"SyncCalendar-Prefix":{"defaultValue":"[CAP]","type":"String","metadata":{"schemaName":"lcn_SyncCalendarPrefix"}}},"triggers":{"When_an_event_is_added,_updated_or_deleted_(V3)":{"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnectionNotification","inputs":{"host":{"connectionName":"shared_office365_2","operationId":"CalendarGetOnChangedItemsV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"table":"AAMkADIwZTAyMTZlLTg5Y2ItNGNlZC1iMzJkLTdiZDJjZDIxNDY2MwBGAAAAAABOyKmC1zQ_TINWokJxuOroBwDcMiBjVDUVSppJR12QMrY5AAAArsoeAADT6O-9GB5aTaE_dAUSLAREAAWRMwIWAAA=","incomingDays":300,"pastDays":0},"authentication":"@parameters('$authentication')"}}},"actions":{"Switch":{"runAfter":{"Filter_Event":["Succeeded"]},"cases":{"added":{"case":"added","actions":{"Create_event_(V4)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365_1","operationId":"V4CalendarPostItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"table":"AQMkADcwZWM1OTNiLTljZWEtNDE2NgAtOWUwZS02NGNlNDdiNWRiMTgARgAAA5-sd9jEYSNLpM4juxkDZjYHANz1gX2HC65DsZ1EZEwgPyEAAAIBBgAAANz1gX2HC65DsZ1EZEwgPyEAAAI8DgAAAA==","item/subject":"@{variables('Prefix')} @{triggerOutputs()?['body/subject']} - @{triggerOutputs()?['body/id']}","item/start":"@convertFromUtc(Concat(triggerOutputs()?['body/start'], 'Z'), 'Romance Standard Time', 'g')","item/end":"@convertFromUtc(Concat(triggerOutputs()?['body/end'], 'Z'), 'Romance Standard Time', 'g')","item/timeZone":"(UTC+01:00) Brussels, Copenhagen, Madrid, Paris","item/body":"<p><strong>Organizer:</strong> @{triggerOutputs()?['body/organizer']}<br>\n<strong>Required attendees:</strong> @{triggerOutputs()?['body/requiredAttendees']}<br>\n<strong>Optional attendees:</strong> @{triggerOutputs()?['body/optionalAttendees']}<br>\n<strong>Resource attendees:</strong> @{triggerOutputs()?['body/resourceAttendees']}<br>\n</p>\n<p>------------------------------------------------------------------------------</p>\n@{triggerOutputs()?['body/body']}","item/location":"@triggerOutputs()?['body/location']","item/importance":"@triggerOutputs()?['body/importance']","item/isAllDay":"@triggerOutputs()?['body/isAllDay']","item/recurrence":"none","item/isReminderOn":"@triggerOutputs()?['body/isReminderOn']","item/showAs":"@triggerOutputs()?['body/showAs']","item/responseRequested":false,"item/sensitivity":"@triggerOutputs()?['body/sensitivity']"},"authentication":"@parameters('$authentication')"}},"Send_Notification":{"actions":{"Post_an_Adaptive_Card_to_a_Teams_user_and_wait_for_a_response":{"runAfter":{},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_teams_1","operationId":"SubscribeUserFlowContinuation","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"UserFlowContinuationSubscriptionRequest/body/recipient/to":"@{variables('TargetEmail')};","UserFlowContinuationSubscriptionRequest/body/messageBody":"{\n\t\"type\": \"AdaptiveCard\",\n\t\"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n\t\"version\": \"1.2\",\n\t\"body\": [{\n\t\t\t\"type\": \"TextBlock\",\n\t\t\t\"text\": \"{$root.lblActionType}\",\n\t\t\t\"color\": \"Accent\",\n\t\t\t\"spacing\": \"None\"\n\t\t}, {\n\t\t\t\"type\": \"TextBlock\",\n\t\t\t\"text\": \"{$root.lblSubject}\",\n\t\t\t\"size\": \"Large\",\n\t\t\t\"weight\": \"Bolder\",\n\t\t\t\"color\": \"Accent\",\n\t\t\t\"isSubtle\": true,\n\t\t\t\"spacing\": \"None\"\n\t\t}, {\n\t\t\t\"type\": \"ColumnSet\",\n\t\t\t\"columns\": [{\n\t\t\t\t\t\"type\": \"Column\",\n\t\t\t\t\t\"width\": \"stretch\",\n\t\t\t\t\t\"items\": [{\n\t\t\t\t\t\t\t\"type\": \"TextBlock\",\n\t\t\t\t\t\t\t\"text\": \"Organizer\",\n\t\t\t\t\t\t\t\"weight\": \"Bolder\"\n\t\t\t\t\t\t}, {\n\t\t\t\t\t\t\t\"type\": \"TextBlock\",\n\t\t\t\t\t\t\t\"text\": \"Start\",\n\t\t\t\t\t\t\t\"weight\": \"Bolder\"\n\t\t\t\t\t\t}, {\n\t\t\t\t\t\t\t\"type\": \"TextBlock\",\n\t\t\t\t\t\t\t\"text\": \"End\",\n\t\t\t\t\t\t\t\"weight\": \"Bolder\"\n\t\t\t\t\t\t}, {\n\t\t\t\t\t\t\t\"type\": \"TextBlock\",\n\t\t\t\t\t\t\t\"text\": \"Attendees\",\n\t\t\t\t\t\t\t\"weight\": \"Bolder\"\n\t\t\t\t\t\t}\n\t\t\t\t\t]\n\t\t\t\t}, {\n\t\t\t\t\t\"type\": \"Column\",\n\t\t\t\t\t\"width\": \"stretch\",\n\t\t\t\t\t\"items\": [{\n\t\t\t\t\t\t\t\"type\": \"TextBlock\",\n\t\t\t\t\t\t\t\"text\": \"{$root.lblOrganizer}\",\n\t\t\t\t\t\t\t\"weight\": \"Bolder\",\n\t\t\t\t\t\t\t\"color\": \"Accent\"\n\t\t\t\t\t\t}, {\n\t\t\t\t\t\t\t\"type\": \"TextBlock\",\n\t\t\t\t\t\t\t\"text\": \"{$root.lblStart}\"\n\t\t\t\t\t\t}, {\n\t\t\t\t\t\t\t\"type\": \"TextBlock\",\n\t\t\t\t\t\t\t\"text\": \"{$root.lblEnd}\"\n\t\t\t\t\t\t}\n\t\t\t\t\t]\n\t\t\t\t}\n\t\t\t]\n\t\t}, {\n\t\t\t\"type\": \"TextBlock\",\n\t\t\t\"text\": \"{$root.lblAttendees}\"\n\t\t}, {\n\t\t\t\"type\": \"TextBlock\",\n\t\t\t\"text\": \"Response\",\n\t\t\t\"wrap\": true,\n\t\t\t\"separator\": true,\n\t\t\t\"isSubtle\": true,\n\t\t\t\"color\": \"Accent\",\n\t\t\t\"size\": \"Large\",\n\t\t\t\"weight\": \"Bolder\"\n\t\t}, {\n\t\t\t\"type\": \"Input.Text\",\n\t\t\t\"placeholder\": \"Response to organizer\",\n\t\t\t\"isMultiline\": true,\n\t\t\t\"id\": \"txtResponse\"\n\t\t}, {\n\t\t\t\"type\": \"ColumnSet\",\n\t\t\t\"columns\": [{\n\t\t\t\t\t\"width\": \"stretch\",\n\t\t\t\t\t\"type\": \"Column\",\n\t\t\t\t\t\"items\": [{\n\t\t\t\t\t\t\t\"type\": \"ActionSet\",\n\t\t\t\t\t\t\t\"actions\": [{\n\t\t\t\t\t\t\t\t\t\"title\": \"Accept\",\n\t\t\t\t\t\t\t\t\t\"type\": \"Action.Submit\",\n\t\t\t\t\t\t\t\t\t\"id\": \"Accept\",\n\t\t\t\t\t\t\t\t\t\"style\": \"positive\"\n\t\t\t\t\t\t\t\t}, {\n\t\t\t\t\t\t\t\t\t\"title\": \"Decline\",\n\t\t\t\t\t\t\t\t\t\"type\": \"Action.Submit\",\n\t\t\t\t\t\t\t\t\t\"id\": \"Decline\",\n\t\t\t\t\t\t\t\t\t\"style\": \"destructive\"\n\t\t\t\t\t\t\t\t}\n\t\t\t\t\t\t\t]\n\t\t\t\t\t\t}\n\t\t\t\t\t]\n\t\t\t\t}, {\n\t\t\t\t\t\"width\": \"stretch\",\n\t\t\t\t\t\"type\": \"Column\",\n\t\t\t\t\t\"items\": [{\n\t\t\t\t\t\t\t\"type\": \"ActionSet\",\n\t\t\t\t\t\t\t\"actions\": [{\n\t\t\t\t\t\t\t\t\t\"title\": \"Ignore\",\n\t\t\t\t\t\t\t\t\t\"type\": \"Action.Submit\",\n\t\t\t\t\t\t\t\t\t\"id\": \"Ignore\"\n\t\t\t\t\t\t\t\t}, {\n\t\t\t\t\t\t\t\t\t\"title\": \"Delete\",\n\t\t\t\t\t\t\t\t\t\"type\": \"Action.Submit\",\n\t\t\t\t\t\t\t\t\t\"id\": \"Delete\",\n\t\t\t\t\t\t\t\t\t\"style\": \"destructive\"\n\t\t\t\t\t\t\t\t}\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\"horizontalAlignment\": \"Right\"\n\t\t\t\t\t\t}\n\t\t\t\t\t]\n\t\t\t\t}\n\t\t\t]\n\t\t}\n\t],\n\t\"-ms-tokens\": {\n\t\t\"lblActionType\": \"@{triggerOutputs()?['body/ActionType']}\",\n\t\t\"lblSubject\": \"@{triggerOutputs()?['body/subject']}\",\n\t\t\"lblOrganizer\": \"@{triggerOutputs()?['body/organizer']}\",\n\t\t\"lblStart\": \"@{outputs('Create_event_(v4)')?['body/start']}\",\n\t\t\"lblEnd\": \"@{outputs('Create_event_(v4)')?['body/end']}\",\n\t\t\"lblAttendees\": \"@{concat(triggerOutputs()?['body/requiredAttendees'], ',', triggerOutputs()?['body/optionalAttendees'])}\",\n\t}\n}\n","UserFlowContinuationSubscriptionRequest/body/updateMessage":"Answer sent for '@{triggerOutputs()?['body/subject']}' meeting to @{triggerOutputs()?['body/organizer']}","UserFlowContinuationSubscriptionRequest/body/shouldUpdateCard":true,"UserFlowContinuationSubscriptionRequest/body/recipient/summary":"Meeting @{triggerOutputs()?['body/ActionType']}: @{triggerOutputs()?['body/subject']} by @{triggerOutputs()?['body/organizer']}"},"authentication":"@parameters('$authentication')"}},"Switch_2":{"runAfter":{"Post_an_Adaptive_Card_to_a_Teams_user_and_wait_for_a_response":["Succeeded"]},"cases":{"Delete":{"case":"Delete","actions":{"Delete_event_(V2)_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365_1","operationId":"CalendarDeleteItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"calendar":"AQMkADcwZWM1OTNiLTljZWEtNDE2NgAtOWUwZS02NGNlNDdiNWRiMTgARgAAA5-sd9jEYSNLpM4juxkDZjYHANz1gX2HC65DsZ1EZEwgPyEAAAIBBgAAANz1gX2HC65DsZ1EZEwgPyEAAAI8DgAAAA==","event":"@outputs('Create_event_(V4)')?['body/id']"},"authentication":"@parameters('$authentication')"}}}},"Ignore":{"case":"Ignore","actions":{}}},"default":{"actions":{"Respond_to_an_event_invite_(V2)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365_1","operationId":"RespondToEvent_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"event_id":"@outputs('Create_event_(V4)')?['body/id']","response":"@outputs('Post_an_Adaptive_Card_to_a_Teams_user_and_wait_for_a_response')?['body/submitActionId']","body/Comment":"@outputs('Post_an_Adaptive_Card_to_a_Teams_user_and_wait_for_a_response')?['body/data/txtResponse']","body/SendResponse":true},"authentication":"@parameters('$authentication')"}}}},"expression":"@outputs('Post_an_Adaptive_Card_to_a_Teams_user_and_wait_for_a_response')?['body/submitActionId']","type":"Switch"}},"runAfter":{"Create_event_(V4)":["Succeeded"]},"expression":{"and":[{"equals":["@triggerOutputs()?['body/recurrence']","none"]},{"equals":["@triggerOutputs()?['body/responseRequested']",true]},{"not":{"equals":["@triggerOutputs()?['body/organizer']","@variables('SourceEmail')"]}}]},"type":"If"}}},"updated":{"case":"updated","actions":{"Update_event_(V4)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365_1","operationId":"V4CalendarPatchItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"table":"AQMkADcwZWM1OTNiLTljZWEtNDE2NgAtOWUwZS02NGNlNDdiNWRiMTgARgAAA5-sd9jEYSNLpM4juxkDZjYHANz1gX2HC65DsZ1EZEwgPyEAAAIBBgAAANz1gX2HC65DsZ1EZEwgPyEAAAI8DgAAAA==","id":"@first(outputs('Get_events_(V4)')?['body/value'])?['id']","item/subject":"@{variables('Prefix')} @{triggerOutputs()?['body/subject']} - @{triggerOutputs()?['body/id']}","item/start":"@convertFromUtc(Concat(triggerOutputs()?['body/start'], 'Z'), 'Romance Standard Time', 'g')","item/end":"@convertFromUtc(Concat(triggerOutputs()?['body/end'], 'Z'), 'Romance Standard Time', 'g')","item/timeZone":"(UTC+01:00) Brussels, Copenhagen, Madrid, Paris","item/body":"<strong>Organizer:</strong> @{triggerOutputs()?['body/organizer']}<br>\n<strong>Required attendees:</strong> @{triggerOutputs()?['body/requiredAttendees']}<br>\n<strong>Optional attendees:</strong> @{triggerOutputs()?['body/optionalAttendees']}<br>\n<strong>Resource attendees:</strong> @{triggerOutputs()?['body/resourceAttendees']}<br>\n<p>------------------------------------------------------------------------------</p>","item/location":"@triggerOutputs()?['body/location']","item/importance":"@triggerOutputs()?['body/importance']","item/isAllDay":"@triggerOutputs()?['body/isAllDay']","item/recurrence":"none","item/reminderMinutesBeforeStart":"@triggerOutputs()?['body/reminderMinutesBeforeStart']","item/isReminderOn":"@triggerOutputs()?['body/isReminderOn']","item/showAs":"@triggerOutputs()?['body/showAs']","item/responseRequested":false,"item/sensitivity":"@triggerOutputs()?['body/sensitivity']"},"authentication":"@parameters('$authentication')"}}}},"deleted":{"case":"deleted","actions":{"Delete_event_(V2)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365_1","operationId":"CalendarDeleteItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"calendar":"AQMkADcwZWM1OTNiLTljZWEtNDE2NgAtOWUwZS02NGNlNDdiNWRiMTgARgAAA5-sd9jEYSNLpM4juxkDZjYHANz1gX2HC65DsZ1EZEwgPyEAAAIBBgAAANz1gX2HC65DsZ1EZEwgPyEAAAI8DgAAAA==","event":"@first(outputs('Get_events_(V4)')?['body/value'])?['id']"},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{}},"expression":"@variables('CorrectedActionType')","type":"Switch"},"Initialize_Prefix_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"Prefix","type":"string","value":"@parameters('SyncCalendar-Prefix')"}]}},"Initialize_TargetEmail_variable":{"runAfter":{"Initialize_SourceEmail_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"TargetEmail","type":"string","value":"@parameters('SyncCalendar-TargetEmail')"}]}},"Initialize_SourceEmail_variable":{"runAfter":{"Initialize_Prefix_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"SourceEmail","type":"string","value":"@parameters('SyncCalendar-SourceEmail')"}]}},"Filter_Event":{"actions":{"Check_Event_Status":{"actions":{"Check_ReAdded_Event":{"actions":{"Set_CorrectedActionType_variable_to_Added":{"runAfter":{},"type":"SetVariable","inputs":{"name":"CorrectedActionType","value":"added"}}},"runAfter":{},"else":{"actions":{"Set_CorrectedActionType_variable_to_Original_Value":{"runAfter":{},"type":"SetVariable","inputs":{"name":"CorrectedActionType","value":"@triggerOutputs()?['body/ActionType']"}}}},"expression":{"and":[{"equals":["@triggerOutputs()?['body/ActionType']","updated"]},{"equals":["@variables('EventExists')",false]}]},"type":"If"}},"runAfter":{"Set_EventExists_variable":["Succeeded"]},"else":{"actions":{"Terminate":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}},"expression":{"and":[{"or":[{"and":[{"equals":["@triggerOutputs()?['body/ActionType']","added"]},{"or":[{"equals":["@triggerOutputs()?['body/responseType']","notResponded"]},{"equals":["@triggerOutputs()?['body/responseType']","organizer"]}]},{"equals":["@variables('EventExists')",false]}]},{"and":[{"equals":["@triggerOutputs()?['body/ActionType']","updated"]},{"or":[{"not":{"contains":["@triggerOutputs()?['body/subject']","Canceled"]}},{"not":{"contains":["@triggerOutputs()?['body/subject']","Annulé"]}}]},{"or":[{"equals":["@triggerOutputs()?['body/responseType']","accepted"]},{"equals":["@triggerOutputs()?['body/responseType']","tentativelyAccepted"]},{"equals":["@triggerOutputs()?['body/responseType']","organizer"]}]}]},{"and":[{"equals":["@triggerOutputs()?['body/ActionType']","deleted"]},{"equals":["@variables('EventExists')",true]}]}]},{"not":{"contains":["@coalesce(triggerOutputs()?['body/requiredAttendees'], ' ')","@variables('TargetEmail')"]}},{"not":{"contains":["@coalesce(triggerOutputs()?['body/optionalAttendees'], ' ')","@variables('TargetEmail')"]}},{"not":{"contains":["@coalesce(triggerOutputs()?['body/organizer'], ' ')","@variables('TargetEmail')"]}}]},"type":"If"},"Set_EventExists_variable":{"runAfter":{"Get_events_(V4)":["Succeeded"]},"type":"SetVariable","inputs":{"name":"EventExists","value":"@not(empty(outputs('Get_events_(V4)')?['body/value']))"}},"Get_events_(V4)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365_1","operationId":"V4CalendarGetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"table":"AQMkADcwZWM1OTNiLTljZWEtNDE2NgAtOWUwZS02NGNlNDdiNWRiMTgARgAAA5-sd9jEYSNLpM4juxkDZjYHANz1gX2HC65DsZ1EZEwgPyEAAAIBBgAAANz1gX2HC65DsZ1EZEwgPyEAAAI8DgAAAA==","$filter":"contains(subject, '@{triggerOutputs()?['body/id']}')","$top":1},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Initialize_CorrectedActionType_variable":["Succeeded"]},"type":"Scope"},"Initialize_EventExists_variable":{"runAfter":{"Initialize_TargetEmail_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"EventExists","type":"boolean"}]}},"Initialize_CorrectedActionType_variable":{"runAfter":{"Initialize_EventExists_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"CorrectedActionType","type":"string"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}